#comparison{
   
    background-color: #ffffff;
    float:left;
    width:100%;
    
}
#spinner{
    width: 100px;
     position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}