/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Φεβ 2016, 5:00:58 μμ
    Author     : s.karampatakis@gmail.com
*/

#create_links{
    width: 100%;
    float:left;
    
}
#link_chooser{
    
    
}
#links{
    
}

.info-icon{
    color:gray;
}
.info-icon:hover{
    color: #0063dc;
}
#created_links{
    padding:15px;
}
#linking_wrapper{
    
}

#link_form{
    
}

#other{
    padding: 10px;
}
#create-btn{
    padding: 10px;
    
}

.connected{
    fill: green!important;
}