.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: #613644;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
}

path.link {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 1.5px;
}

.tooltip{
  display: none;
  z-index: 1000;
  
}

:hover > .tooltip {
  display: block;
}

#selected_source{
    fill:red!important; 
}

#selected_target{
    fill:red!important; 
}

ul.select2-results {
 max-height: 100px;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  font: 10px sans-serif;
}

.select2-container{
    width: 60%!important;
}


#block_container {
  display: inline-flex;
  width:500px;
}
#block_container2 {
  display: inline-flex;
  width:500px;
}

.select2-drop{
    width:40%!important;
}